<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
	<style>
	body {
		background-color: #70F2F6;
	}
</style>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
	<img src=https://s33.postimg.cc/3nwvr364v/foto.jpg></img src>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>I go to {{ university }}</article>
	<article>My hobby is {{ hobby }}</article>
	<article>Description : {{ bio }}</article>
	
	<h1>His name is {{ friend1_name}}</h1>
	<img src = https://s15.postimg.cc/kb6qwn0gb/Ihsan_pas_foto_square.png></img src>
	<article>NPM : {{ friend1_npm }}</article>
    <article>He is {{ friend1_age }} years old</article>
	<article>He goes to {{ friend1_university }}</article>
	<article>His hobby is {{ friend1_hobby }}</article>
	<article>Description : {{ friend1_bio }}</article>
	
	<h1>His name is {{ friend2_name}}</h1>
	<img src = https://ppw-d-laymonage.herokuapp.com/static/lab_2_addon/profile.png></img src>
	<article>NPM : {{ friend2_npm }}</article>
    <article>He is {{ friend2_age }} years old</article>
	<article>He goes to {{ friend2_university }}</article>
	<article>His hobby is {{ friend2_hobby }}</article>
	<article>Description : {{ friend2_bio }}</article>
	
</body>
</html>
